<h1> Factions </h1>
    <br>
    <ul>
    <% @factions.each do |faction| %>
        <li> <h3> <%= link_to faction.name, faction_path(faction) %><br> </h3>
    <% end %>
    </ul> <br>


<hr> <br>
<%= link_to '<button type="button">Go to Characters</button>'.html_safe, characters_path %> <br>
<br>
<%= link_to '<button type="button">Go Home</button>'.html_safe, root_path %>