<h1> Factions </h1>
    <% @factions.each do |faction| %>
        <%= link_to faction.name, faction_path(faction) %>
    <% end %>

<hr> <br>
<%= link_to '<button type="button">Go to All Characters</button>'.html_safe, characters_path %>
<br>
<%= link_to '<button type="button">Go Home</button>'.html_safe, root_path %>